
/*        RESET          */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #0f141a;
    color: #E4E4E4;
    line-height: 1.6;
}

/*        HEADER         */

header {
    width: 100%;
    padding: 20px 60px;
    background-color: #0f141a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 1px solid rgba(255,255,255,0.06);
}

.header-logo img {
    height: 100px;
}

/* NAV */

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: #dcdcdc;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.95rem;
    transition: 0.3s ease;
}

nav a:hover {
    color: #76C043;
}

/* BOTÕES DO HEADER */

.header-botao a {
    text-decoration: none;
    padding: 8px 18px;
    border-radius: 6px;
    background-color: #76C043;
    color: #000;
    font-weight: 600;
    margin-left: 10px;
    transition: 0.3s ease;
}

.header-botao a:hover {
    background-color: #5A9A35;
}

/*        Seção Principal           */

.main-img {
    width: 100%;
    height: 480px;
    position: relative;
    margin-top: 5px;
}

.main-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shadowbox {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(10, 10, 10, 0.55);
    top: 0;
}

/* TÍTULOS PRINCIPAIS */

.main-titulo {
    text-align: center;
    margin-top: -260px;
    position: relative;
    z-index: 10;
    padding: 0 20px;
}

.main-titulo h1 {
    font-size: 2.6rem;
    color: #76C043;
    font-weight: 700;
}

.main-titulo h2 {
    font-size: 1.2rem;
    margin-top: 10px;
    color: #d0d0d0;
}


/*   SESSÕES HISTÓRIA    */

main section,
.historia-fotografia-1,
.historia-fotografia-2,
.historia-fotografia-3,
.historia-fotografia-4 {
    width: 100%;
    max-width: 1100px;
    margin: 90px auto;
    padding: 0 20px;
}

/* TITULOS */

main h3 {
    color: #76C043;
    font-size: 1.6rem;
    margin-bottom: 25px;
}

/* BLOCO DE TEXTO E IMAGEM */

.historia-fotografia-1,
.historia-fotografia-2,
.historia-fotografia-3,
.historia-fotografia-4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

/* PARÁGRAFOS */
.conteudo p {
    font-size: 1rem;
    color: #dcdcdc;
    max-width: 520px;
}

/* IMAGENS */

.conteudo-img img,
.conteudo-img2 img,
.conteudo-img3 img {
    width: 340px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.4);
}

.conteudo-img2 p {
    font-size: 0.85rem;
    margin-top: 6px;
    opacity: 0.8;
}

/* ALTERNAR LADOS (EFEITO ZIG-ZAG) */

.historia-fotografia-2,
.historia-fotografia-4 {
    flex-direction: row-reverse;
}

/*      Iportância       */


.iportancia-da-fotografia {
    width: 100%;
    max-width: 1200px;
    margin: 120px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 0 20px;
}

/* IMAGENS LATERAIS */
.iportancia-da-fotografia .img-left img,
.iportancia-da-fotografia .img-right img {
    width: 320px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.4);
}

/* BLOCO DE TEXTO CENTRAL */
.conteudo-importancia {
    max-width: 520px;
}

.conteudo-importancia h3 {
    color: #76C043;
    font-size: 1.6rem;
    margin-bottom: 20px;
}

.conteudo-importancia p {
    color: #dcdcdc;
    margin-bottom: 14px;
    line-height: 1.6;
    font-size: 1rem;
}

/*     PÁGINA LOGIN      */

.login-container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    min-height: 80vh;
    padding: 0 60px;
}

/* BOX DO FORMULÁRIO */
.login-box {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-logo {
    color: #E38B27;
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.login-titulo {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 8px;
}

.login-sub {
    color: #bfbfbf;
    margin-bottom: 30px;
}

/* GRUPO DOS INPUTS */
.formulario {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 90%;
}

.formulario label {
    font-size: 0.9rem;
    color: #dcdcdc;
}

.input-group {
    position: relative;
}

.input-group input {
    width: 100%;
    padding: 15px 45px 15px 15px;
    background-color: #151b23;
    border: 1px solid #2a2f36;
    border-radius: 8px;
    color: #fff;
    font-size: 0.95rem;
}

.input-group input:focus {
    outline: none;
    border-color: #76C043;
}

.input-group span {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #9c9c9c;
    font-size: 1.2rem;
}

/* BOTÃO */
.btn-cadastrar {
    width: 100%;
    margin-top: 15px;
    padding: 14px;
    background-color: #76C043;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    color: #000;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-cadastrar:hover {
    background-color: #5a9a35;
}

/* TEXTO DO LOGIN */
.login-link {
    margin-top: 18px;
    color: #bfbfbf;
    font-size: 0.9rem;
}

.login-link a {
    color: #E38B27;
    text-decoration: none;
    font-weight: 600;
}

/* IMAGEM À DIREITA */
.login-img {
    width: 50%;
}

.login-img img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 12px;
    align-items: center;
}
.btn-entrar {
    width: 100%;
    margin-top: 15px;
    padding: 14px;
    background-color: #76C043;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    color: #000;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.recuperar-senha a{
  color: #bfbfbf;
  text-decoration: none;
}

.recuperar-senha :hover{
  color: #E38B27;
}

/* ---- TÍTULO  MAIN ---- */
.titulo-main {
    padding: 10px 0;
    border-bottom: 1px solid rgba(255,255,255,0.06);
}

.titulo-main h1 {
    margin-left: 20%;
    font-size: 2.1rem;
    
}

/* ---- ÁLBUNS ---- */

.albuns {
    margin-top: 30px;
    padding: 0 20px;

    display: grid;
    grid-template-columns: repeat(4, 1fr); /* sempre 4 por linha */
    gap: 25px;
}


.album-item {
    text-align: center;
}

.album-item img {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
}

/* ---- PESSOAS IMPORTANTES ---- */
.pessoas-importantes {
    margin-top: 50px;
    padding: 0 20px;
}

.pessoas-importantes h2 {
    margin-bottom: 20px;
}

.pessoas-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 25px;
    margin-top: 20px;
}

.pessoa {
    text-align: center;
    padding: 10px;
}

.pessoa img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
}


/* ---- Perfil LogOut ---- */

.perfil {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 18px;
    font-weight: 600;
}

.logout-btn {
    padding: 6px 14px;
    background-color: #e63946;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    transition: 0.2s ease;
}

.logout-btn:hover {
    background-color: #c9232f;
}

/* ===== DASHBOARD ===== */

.saudacao {
    color: #76C043;
    padding-top: 15px;
    padding-left: 100px;
}

/* KPIS */
.kpis{
    display: flex;
    gap: 20px;
    justify-content:center;
    padding: 10px;
}

.kpi{
    background-color: #192431;
    padding: 20px;
    width: 210px;
    height: 110px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap: 5px;
    transition: .25s;
}

.kpi:hover{
    transform: translateY(-6px);
    filter: brightness(1.2);
}

.kpi span{
    font-size: 32px;
    color:#E38B27;
}

.kpi strong{
    color: #76C043;
    font-size: 15px;
}

.kpi p{
    color: white;
    font-size: 14px;
    margin-top: 4px;
}



/* GRAFICOS */
.graficos{
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}


.grafico{
    background: #192431;
    width: 450px;
    height: 350px;
    padding: 20px;
    border-radius: 14px;
    display:flex;
    flex-direction: column;
}


.grafico h3{
    font-size: 18px;
    color:#76C043;
    margin-bottom: 8px;
}

.grafico canvas{
    width: 100% !important;
    height: 100% !important;
}
